@-ms-viewport{
    width: device-width;
  }
  /* home page  */
#body-home{
    align-content: center;
}
.jumbotron{
    width: 95%;
    vertical-align: middle;
    text-align: center;
    z-index: 100;
    font-family: 'Comfortaa', cursive;
    margin: 30px;
    margin-top: 45px;
    padding: 0;
    background: none;

}
.lead-text{
    color:#972985;   
}
#headshot{
    border-radius: 8px;
    padding: 0;  
    width: 200px;
    height: 250px;
}



/* body{
    font-family: 'Libre Baskerville', serif;  
    margin: 0;
} */

.card{
    width: 100%;
    background: #cccccc;
    padding: 0;
}
.row{
    margin-left: 20px;
    
}
#job-title{
    font-size: 30px;
}

.heading{
    text-align: center;
    margin-top: 15px;
}
.col-md-3{
    text-align: center;
}
#menYou{
    border-radius: 50%;
    width: 300px;
    height: 200px;
    -webkit-filter: grayscale(1);  
}
#travelTrivia{
    border-radius: 50%;
    width: 300px;
    height: 200px; 
    -webkit-filter: grayscale(1);  
}
#trainScheduler{
    border-radius: 50%;
    width: 300px;
    height: 200px; 
    -webkit-filter: grayscale(1);  
}
#crystalCollector{
    border-radius: 50%;
    width: 300px;
    height: 200px; 
    -webkit-filter: grayscale(1); 
}
.biography{
    color: #972985;
    margin: 10px 80px 5px;
    text-align: justify;
    font-size: 20px;
    
}






