body{
    background: url("Bootstrap-Portfolio/pipes.png");

}


.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar{
    background-color: gray;
    font-weight: bold;
}

.row{
    padding-top: 25px; 
}

form{
    padding-left: 15%;
    padding-right: 15%;
}



