@-ms-viewport{
    width: device-width;
  }
  /* =========================================================================================== */
  /* home page  */
  /* =========================================================================================== */
#body-home{
    align-content: center;
}
#welcome{
    width: 95%;
    vertical-align: middle;
    text-align: center;
    z-index: 100;
    font-family: 'Comfortaa', cursive;
    margin: 30px;
    margin-top: 45px;
    padding: 0;
    background: none;

}
.lead-text{
    color:#972985;   
}
#headshot{
    border-radius: 50%;
    border: 2px solid gray;
    padding: 0;  
    width: 300px;
    height: 300px;
}
/* =========================================================================================== */
/* index page */
/* =========================================================================================== */
#index-body{
    margin:0;
    display:block;
    letter-spacing:.01rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
    font-size:100%;
}
.nav-link{
    color:gray;
}
.container{
    max-width: 50em;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Comfortaa', cursive;
}
.block{
    display:block;
}
.p3{
    padding:2rem;
}
/* CSS for each project */
.mb2 {
    margin-bottom: 1rem;
}
.views{
    width:60%;
    float:left;
    
}
#pics{
    width: 300px;
    height: 200px;
    -webkit-filter: grayscale(1);
}
.content{
    width:40%;
    float:left;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
    margin-top: 10px;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
/* =========================================================================================== */
.biography{
    color: #972985;
    margin: 10px 80px 5px;
    text-align: justify;
    font-size: 20px;
    
} 






